.z-0.absolute.inset-0.bg-background-light {
  background-color: #1d3831 !important; // Replace with your desired color
}

.h-7 {
    height: 3.75rem;
}

nav button, 
nav a[role="button"],
.ul\.flex\.space-x-6\.items-center { // Escaped class selector
  color: #FFFFFF;
  
  &:hover {
    color: #E6F3EB;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.dark\:text-gray-800,
a.link,
a[class*="nav-tabs-item"] {
  color: #FFFFFF !important; // Force white text
  
  &:hover {
    color: #E6F3EB !important;
  }
  
  &.active {
    border-bottom: 2px solid #E6F3EB;
  }
}