.z-0.absolute.inset-0.bg-background-light {
  background-color: #1d3831 !important; // Replace with your desired color
}

.h-7 {
    height: 3.75rem;
}

nav button, 
nav a[role="button"],
.ul\.flex\.space-x-6\.items-center { // Escaped class selector
   color: #d5e6c8 !important;
  
  &:hover {
    color: #ffff;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
a.active, 
.active[href] {
  border-bottom: 2px solid #d5e6c8 !important;
}
.text-gray-800,
a.link,
a[class*="nav-tabs-item"] {
  color: #d5e6c8 !important;
  
  &:hover {
    color: #ffff !important;
  }
  
  &.active {
    border-bottom: 2px solid #d5e6c8;
  }
}